# MSU Grades ---Analyze grades by semester(Increase the probability of success in MSU course)

Does students preform better in Spring then Fall in term of GPA? Percent increase/decrease comparing Fall and Spring? What are the possible and reasonable guess for why student perform better in specific semester?

## Import packages

In [1]:
#import the package
import pandas as pd
import numpy as np

## Reading in data

In [2]:
grades = pd.read_csv("new_readable_grades.csv")
grades[0:3]

,time_proper,course_name,term_code,subject_code,course_code,course_title,instructors,total_grades,average_grade,4,3.5,3,2.5,2,1.5,1,0,pass
0,12/15/18,AAAS_100,FS18,AAAS,100,Race and Community,TAMARA T BUTLER,35,3.285714,13,13,5,1,0,0,0,3,0
1,12/15/18,AAE_220,FS18,AAE,220,English Grammar & Composition,CAROL E ARNOLD | PATRICIA G WALTERS,18,2.694444,1,2,7,5,2,0,0,1,0
2,12/15/18,AAE_220,FS18,AAE,220,English Grammar & Composition,CARLEE N SALAS | PATRICIA G WALTERS,18,2.611111,4,3,1,3,5,0,0,2,0

## Clear the data

In [3]:
grades = grades.drop(['course_code', 'subject_code'], axis = 1)
grades[0:3]

,time_proper,course_name,term_code,course_title,instructors,total_grades,average_grade,4,3.5,3,2.5,2,1.5,1,0,pass
0,12/15/18,AAAS_100,FS18,Race and Community,TAMARA T BUTLER,35,3.285714,13,13,5,1,0,0,0,3,0
1,12/15/18,AAE_220,FS18,English Grammar & Composition,CAROL E ARNOLD | PATRICIA G WALTERS,18,2.694444,1,2,7,5,2,0,0,1,0
2,12/15/18,AAE_220,FS18,English Grammar & Composition,CARLEE N SALAS | PATRICIA G WALTERS,18,2.611111,4,3,1,3,5,0,0,2,0

## Checking NA Values

In [4]:
grades.isna().sum()#find the null place

time_proper        0
course_name        0
term_code          0
course_title       0
instructors      717
total_grades       0
average_grade      0
4                  0
3.5                0
3                  0
2.5                0
2                  0
1.5                0
1                  0
0                  0
pass               0
dtype: int64

In [5]:
grades = grades.dropna()#drop the nulls
grades['average_grade']  = round(grades['average_grade'],2)
grades[0:3]

,time_proper,course_name,term_code,course_title,instructors,total_grades,average_grade,4,3.5,3,2.5,2,1.5,1,0,pass
0,12/15/18,AAAS_100,FS18,Race and Community,TAMARA T BUTLER,35,3.29,13,13,5,1,0,0,0,3,0
1,12/15/18,AAE_220,FS18,English Grammar & Composition,CAROL E ARNOLD | PATRICIA G WALTERS,18,2.69,1,2,7,5,2,0,0,1,0
2,12/15/18,AAE_220,FS18,English Grammar & Composition,CARLEE N SALAS | PATRICIA G WALTERS,18,2.61,4,3,1,3,5,0,0,2,0

In [13]:
#calculate the number of students passing, and the number of students failing the course.
grades['pass'] = grades['4']+ grades['3.5']+ grades['3']+ grades['2.5']+ grades['2']+ grades['1.5']
grades['fail'] = grades['total_grades']-grades['pass']

#calculate percent passing
grades['Passing Rate(%)'] = round(grades['pass']/grades['total_grades']*100,2)

grades[0:3]

,time_proper,course_name,term_code,course_title,instructors,total_grades,average_grade,4,3.5,3,2.5,2,1.5,1,0,pass,fail,Passing Rate(%)
0,12/15/18,AAAS_100,FS18,Race and Community,TAMARA T BUTLER,35,3.29,13,13,5,1,0,0,0,3,32,3,91.43
1,12/15/18,AAE_220,FS18,English Grammar & Composition,CAROL E ARNOLD | PATRICIA G WALTERS,18,2.69,1,2,7,5,2,0,0,1,17,1,94.44
2,12/15/18,AAE_220,FS18,English Grammar & Composition,CARLEE N SALAS | PATRICIA G WALTERS,18,2.61,4,3,1,3,5,0,0,2,16,2,88.89

In [14]:
grades.groupby('course_name')
grades[0:8]

,time_proper,course_name,term_code,course_title,instructors,total_grades,average_grade,4,3.5,3,2.5,2,1.5,1,0,pass,fail,Passing Rate(%)
0,12/15/18,AAAS_100,FS18,Race and Community,TAMARA T BUTLER,35,3.29,13,13,5,1,0,0,0,3,32,3,91.43
1,12/15/18,AAE_220,FS18,English Grammar & Composition,CAROL E ARNOLD | PATRICIA G WALTERS,18,2.69,1,2,7,5,2,0,0,1,17,1,94.44
2,12/15/18,AAE_220,FS18,English Grammar & Composition,CARLEE N SALAS | PATRICIA G WALTERS,18,2.61,4,3,1,3,5,0,0,2,16,2,88.89
3,12/15/18,AAE_220,FS18,English Grammar & Composition,MATTHEW J RYNBRANDT | PATRICIA G WALTERS,17,2.68,0,2,9,3,2,0,0,1,16,1,94.12
4,12/15/18,AAE_220,FS18,English Grammar & Composition,ANDREW S MCCULLOUGH | PATRICIA G WALTERS,18,3.11,2,9,3,3,0,0,0,1,17,1,94.44
5,12/15/18,AAE_221,FS18,English Composition,ANNA F KORTEMEYER | PATRICIA G WALTERS,15,3.40,5,5,4,0,0,1,0,0,15,0,100.00
6,12/15/18,AAE_221,FS18,English Composition,JARRETT D RAGAN JR | PATRICIA G WALTERS,15,2.63,3,2,4,2,1,1,0,2,13,2,86.67
7,12/15/18,AAE_222,FS18,Listen Spk for NNS of English,KIMBERLY A BENEDICTO | LUCA GIUPPONI | PATRICI...,18,2.94,3,5,5,1,3,0,0,1,17,1,94.44

In [17]:
grades[''] = pd.value_counts(grades['course_name'].values, sort=True)
grades

,time_proper,course_name,term_code,course_title,instructors,total_grades,average_grade,4,3.5,3,2.5,2,1.5,1,0,pass,fail,Passing Rate(%),
0,12/15/18,AAAS_100,FS18,Race and Community,TAMARA T BUTLER,35,3.29,13,13,5,1,0,0,0,3,32,3,91.43,NaN
1,12/15/18,AAE_220,FS18,English Grammar & Composition,CAROL E ARNOLD | PATRICIA G WALTERS,18,2.69,1,2,7,5,2,0,0,1,17,1,94.44,NaN
2,12/15/18,AAE_220,FS18,English Grammar & Composition,CARLEE N SALAS | PATRICIA G WALTERS,18,2.61,4,3,1,3,5,0,0,2,16,2,88.89,NaN
3,12/15/18,AAE_220,FS18,English Grammar & Composition,MATTHEW J RYNBRANDT | PATRICIA G WALTERS,17,2.68,0,2,9,3,2,0,0,1,16,1,94.12,NaN
4,12/15/18,AAE_220,FS18,English Grammar & Composition,ANDREW S MCCULLOUGH | PATRICIA G WALTERS,18,3.11,2,9,3,3,0,0,0,1,17,1,94.44,NaN
5,12/15/18,AAE_221,FS18,English Composition,ANNA F KORTEMEYER | PATRICIA G WALTERS,15,3.40,5,5,4,0,0,1,0,0,15,0,100.00,NaN
6,12/15/18,AAE_221,FS18,English Composition,JARRETT D RAGAN JR | PATRICIA G WALTERS,15,2.63,3,2,4,2,1,1,0,2,13,2,86.67,NaN
7,12/15/18,AAE_222,FS18,Listen Spk for NNS of English,KIMBERLY A BENEDICTO | LUCA GIUPPONI | PATRICI...,18,2.94,3,5,5,1,3,0,0,1,17,1,94.44,NaN
8,12/15/18,AAE_222,FS18,Listen Spk for NNS of English,LUCA GIUPPONI | PATRICIA G WALTERS | CAROL WIL...,17,2.68,0,8,3,1,3,0,0,2,15,2,88.24,NaN
9,12/15/18,AAE_222,FS18,Listen Spk for NNS of English,LUCA GIUPPONI | AUSTIN J KAUFMANN | PATRICIA G...,17,2.50,1,2,5,3,3,2,0,1,16,1,94.12,NaN
10,12/15/18,AAE_223,FS18,Reading for NNS of English,KIMBERLY A BENEDICTO | PATRICIA G WALTERS,22,2.86,2,3,10,3,3,0,1,0,21,1,95.45,NaN
11,12/15/18,AAE_223,FS18,Reading for NNS of English,PATRICIA G WALTERS | LAWRENCE J ZWIER,22,3.00,6,3,4,7,0,0,2,0,20,2,90.91,NaN
12,12/15/18,ABM_100,FS18,Decision Making in Agri-Food,LAURA M CHENEY,201,2.79,45,37,34,27,30,7,11,10,180,21,89.55,NaN
13,12/15/18,ABM_130,FS18,Farm Management I,MELISSA G MCKENDREE,75,3.16,28,17,10,3,12,2,1,2,72,3,96.00,NaN
14,12/15/18,ABM_130,FS18,Farm Management I,JOHN F WHIMS,89,2.60,12,19,16,16,11,3,2,10,77,12,86.52,NaN
15,12/15/18,ABM_203,FS18,Data Analysis Agri-Food System,NICOLE M MASON-WARDELL,52,3.64,35,10,2,1,2,0,2,0,50,2,96.15,NaN
16,12/15/18,ABM_222,FS18,Agribus/Food Ind Sales,LARRY T ZINK,71,2.80,8,16,15,15,12,3,0,2,69,2,97.18,NaN
17,12/15/18,ABM_225,FS18,Commodity Marketing I,JAMES H HILKER,90,2.41,11,15,19,6,16,8,4,11,75,15,83.33,NaN
18,12/15/18,ABM_303,FS18,Economics of Decision Making,SCOTT M SWINTON,55,2.71,8,8,12,13,7,3,2,2,51,4,92.73,NaN
19,12/15/18,ABM_337,FS18,Labor & Pers Mgt in Agri-Food,JOHN T MANN,31,3.65,17,8,4,2,0,0,0,0,31,0,100.00,NaN
20,12/15/18,ABM_410,FS18,Advanced Seminar in ABM,LARRY T ZINK,68,3.76,56,3,5,1,2,0,0,1,67,1,98.53,NaN
21,12/15/18,ABM_425,FS18,Commodity Marketing II,JAMES H HILKER,32,2.88,4,8,4,10,5,0,1,0,31,1,96.88,NaN
22,12/15/18,ABM_427,FS18,Global Agri-Food,THOMAS A REARDON,37,3.12,3,16,9,6,2,1,0,0,37,0,100.00,NaN
23,12/15/18,ABM_430,FS18,Farm Management II,CHRISTOPHER A WOLF,32,3.19,7,8,9,6,2,0,0,0,32,0,100.00,NaN
24,12/15/18,ABM_435,FS18,Fin Mgt in the Agri-Food Sys,J R BLACK | LINDON J ROBISON,44,3.24,10,14,10,7,3,0,0,0,44,0,100.00,NaN
25,12/15/18,ACC_201,FS18,Principles of Financial Acct,KATHY R PETRONI,691,3.12,133,201,204,67,55,15,7,9,675,16,97.68,NaN
26,12/15/18,ACC_202,FS18,Principles of Management Acct,BRUCE BETTINGHAUS,526,3.17,149,149,95,60,35,18,16,4,506,20,96.20,NaN
27,12/15/18,ACC_230,FS18,Survey of Accounting Concepts,FREDRIC JACOBS,621,2.75,171,87,90,71,76,67,20,39,562,59,90.50,NaN
28,12/15/18,ACC_300,FS18,Intermediate Financial Acct I,LORI D JACKSON,41,3.28,14,8,13,3,2,0,0,1,40,1,97.56,NaN
29,12/15/18,ACC_300,FS18,Intermediate Financial Acct I,BRUCE BETTINGHAUS,40,3.42,13,13,9,5,0,0,0,0,40,0,100.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46878,12/15/11,WRA_493,FS11,Prof Writing Internship,STUART R BLYTHE,14,3.57,11,1,0,1,0,0,0,1,13,1,92.86,NaN
46879,12/15/11,WS_201,FS11,Intro to Women's Studies (D),MARIA F BRUNO,25,3.44,6,12,5,2,0,0,0,0,25,0,100.00,NaN
46880,12/15/11,WS_201,FS11,Intro to Women's Studies (D),SHEILA M CONTRERAS,25,3.50,8,12,3,1,1,0,0,0,25,0,100.00,NaN
46881,12/15/11,WS_201,FS11,Intro to Women's Studies (D),JAYNE A SCHUITEMAN,30,3.78,20,9,0,0,1,0,0,0,30,0,100.00,NaN
46882,12/15/11,WS_202,FS11,Intro Contemp Feminisms (D),LISA H SCHWARTZMAN,16,3.47,7,6,1,0,1,1,0,0,16,0,100.00,NaN
46883,12/15/11,WS_202,FS11,Intro Contemp Feminisms (D),AMINDA M SMITH,26,3.50,14,8,2,0,0,0,1,1,24,2,92.31,NaN
46884,12/15/11,WS_491,FS11,Special Topics,CRIS M SULLIVAN,15,2.60,1,4,3,2,2,0,3,0,12,3,80.00,NaN
46885,12/15/11,ZOL_101,FS11,Preview of Zoology,PRISCILLA A WALKER,20,3.12,7,5,1,4,2,0,0,1,19,1,95.00,NaN
46886,12/15/11,ZOL_141,FS11,Introductory Human Genetics,ELLEN S WILCH,142,2.73,30,33,19,19,11,8,13,9,120,22,84.51,NaN
46887,12/15/11,ZOL_303,FS11,Oceanography,NATHANIEL E OSTROM,64,2.64,10,11,11,8,11,7,5,1,58,6,90.62,NaN
46888,12/15/11,ZOL_306,FS11,Invertebrate Biology,RICHARD SNIDER,41,2.52,8,1,10,5,9,5,0,3,38,3,92.68,NaN
46889,12/15/11,ZOL_313,FS11,Animal Behavior,FRED C DYER,171,2.66,25,28,31,35,24,14,8,6,157,14,91.81,NaN
46890,12/15/11,ZOL_320,FS11,Developmental Biology,WILL J KOPACHIK,107,2.69,18,21,22,9,10,17,8,2,97,10,90.65,NaN
46891,12/15/11,ZOL_341,FS11,Fundamental Genetics,BARBARA SEARS,296,2.70,29,68,57,58,35,34,8,7,281,15,94.93,NaN
46892,12/15/11,ZOL_353,FS11,Marine Biology (W),RICHARD W HILL,71,2.83,9,16,21,12,6,0,4,3,64,7,90.14,NaN
46893,12/15/11,ZOL_355,FS11,Ecology,MARY T BREMIGAN | JENNIFER A LAU,210,3.15,59,62,35,29,11,3,5,6,199,11,94.76,NaN
46894,12/15/11,ZOL_355L,FS11,Ecology Laboratory (W),STEPHANIE A MILLER | STEPHEN R THOMAS,139,3.63,71,46,15,6,0,0,0,1,138,1,99.28,NaN
46895,12/15/11,ZOL_360,FS11,Biology of Birds,PAMELA C RASMUSSEN,26,2.90,9,2,4,3,6,0,1,1,24,2,92.31,NaN
46896,12/15/11,ZOL_384,FS11,Biol Amphibians/Reptiles (W),JAMES H HARDING,54,3.63,38,4,7,2,2,0,0,1,53,1,98.15,NaN
46897,12/15/11,ZOL_402,FS11,Neurobiology,LYNWOOD G CLEMENS,83,3.37,26,27,18,7,5,0,0,0,83,0,100.00,NaN
46898,12/15/11,ZOL_408,FS11,Histology,DIANA BELLO-DEOCAMPO,87,2.43,12,14,16,13,9,8,4,11,72,15,82.76,NaN
46899,12/15/11,ZOL_415,FS11,Ecol Aspects Animal Beh (W),JANETTE W BOUGHMAN,11,3.14,3,2,2,3,1,0,0,0,11,0,100.00,NaN
46900,12/15/11,ZOL_445,FS11,Evolution (W),APRIL D COGNATO | LOUISE MEAD | ALEXANDER W SH...,111,3.46,46,34,23,2,2,2,0,2,109,2,98.20,NaN
46901,12/15/11,ZOL_446,FS11,Environ Issues & Pub Policy,ROBERT J STEVENSON,31,3.34,8,13,7,2,0,0,0,1,30,1,96.77,NaN
46902,12/15/11,ZOL_485,FS11,Tropical Biology,CATHERINE A LINDELL,40,3.12,8,9,17,2,1,1,2,0,38,2,95.00,NaN
46903,12/15/11,ZOL_489,FS11,Sem in Zoo & Aquarium Science,RICHARD SNIDER,32,3.73,19,10,2,1,0,0,0,0,32,0,100.00,NaN
46904,12/15/11,ZOL_822,FS11,Top Ethology & Behav Ecology,KAY E HOLEKAMP,16,3.75,9,6,1,0,0,0,0,0,16,0,100.00,NaN
46905,12/15/11,ZOL_851,FS11,Stat Meth Ecology & Evolution,IAN M DWORKIN,30,3.58,19,4,0,7,0,0,0,0,30,0,100.00,NaN
46906,12/15/11,ZOL_855,FS11,Molec Evol: Prin and Tech,JAMES J SMITH,12,3.79,8,3,1,0,0,0,0,0,12,0,100.00,NaN
46907,12/15/11,ZOL_896,FS11,Population & Community Ecology,KYLE F EDWARDS | GARY G MITTELBACH,24,3.65,11,9,4,0,0,0,0,0,24,0,100.00,NaN

Where the count is 1 drop the class. Where the count is more than 1 compare the class avg with different semester, and figure out the easiest semester. Maybe we coud graph out the relationship. Then the possible combination of professor and class and different major?

In [16]:
mk.to_frame(name=None)

            0
MTH_103   535
MTH_132   250
WRA_150   227
WRA_101   224
MTH_116   190
WRA_1004  167
MTH_124   167
WRA_102   166
IAH_207   149
ISS_210   139
LB_492    128
IAH_211C  127
ISS_315   126
ISB_202   121
ISS_310   121
MTH_133   119
LB_133    118
WRA_110   116
IAH_221C  101
MGT_409    95
MTH_1825   94
ESL_220    94
STT_200    92
SW_891     92
EC_201     91
IAH_206    90
IAH_231B   90
MTH_114    88
ISS_335    88
TE_802     87
...       ...
MSE_991     1
JRN_325     1
ACR_833     1
ENT_890     1
SCM_463     1
TE_922      1
ARB_360     1
BLD_302     1
NUR_902     1
MC_469      1
HRT_891B    1
GEO_411     1
IBIO_492    1
PSL_448     1
RET_261     1
IDES_490    1
HDFS_960    1
CSUS_834    1
EPI_813     1
PSY_840     1
HA_254      1
JRN_305     1
ENG_492     1
LB_290C     1
HST_419     1
ACM_464     1
PLS_857     1
FLM_451     1
ME_891      1
VM_516      1

[4905 rows x 1 columns]